h1{
    font-size: 46px;
    text-decoration: underline wavy red;
    letter-spacing: 4px;
}

p{
    font-size: 20px;
    line-height: 30px;
    word-spacing: 8px;
    letter-spacing: 2px;
}